//
// Resets
//

html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: $brand;
    background-color: transparent;
    text-decoration: none;

    &:hover {
        color: $brandAlt;
        text-decoration: none;
    }

    &.focus, &:focus {
        color: darken($brand, 25%);
        text-decoration: none;
    }

    &:not([href]):not([tabindex]),
    &:not([href]):not([tabindex]):focus,
    &:not([href]):not([tabindex]):hover {
        color: inherit;
        text-decoration: none;
    }

    &:not([href]):not([tabindex]):focus {
        outline: 0
    }
}

.bb {
  border-bottom: 1px solid transparent !important;
}

// Boostrap 5 reboot.css
@import './utilities/bootstrap-reboot.css'
