// 
// Forms (mixed), Bootstrap Forms
//

input[type=text],
input[type=tel],
input[type=text-area] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control {
    border: 1px solid $gray-500;
    box-shadow: none !important;
}

textarea.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

//
// Checkbox, radio styles
//
.c-checkbox span:before,
.c-radio span:before {
    color: #fff;
}

.c-checkbox:hover span,
.c-radio:hover span {
    border-color: $brand;
}

.c-checkbox input[type=checkbox]:checked+span,
.c-radio input[type=checkbox]:checked+span,
.c-checkbox input[type=radio]:checked+span,
.c-radio input[type=radio]:checked+span {
    border-color: $brand;
    background-color: $brand;
}

// Checkbox, radio disabled
.c-checkbox input[type=checkbox]:disabled+span,
.c-radio input[type=checkbox]:disabled+span,
.c-checkbox input[type=radio]:disabled+span,
.c-radio input[type=radio]:disabled+span {
    background-color: #e5e9f2 !important;
    border: 0 solid #eff2f7 !important;
}

// Make plus icons red
.fa-plus.text-success:before {
    color: $brand;
}


// 
// Login, Register Form
//

#loginForm {
    a {
        color: $brand;
        font-weight: 500;

        &:hover {
            color: $brandAlt;
            text-decoration: none;
        }

        &.btn {

            // Login with Google
            &:nth-of-type(1) {}

            // Login with Facebook
            &:nth-of-type(2) {}
        }
    }
}