//
// Cardapio Modals
//

.modal-header {

    .modal-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;

        a {
            display: inline-flex;
            align-self: center;
            justify-self: flex-start;
            font-size: 24px;
            font-weight: 600;
            color: $gray-800;
            line-height: 1.22;
            padding-left: 0;
            margin-left: 0;
            margin-right: 5px;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
        }

        span#produtoModalNome {
            display: inline-flex;
            font-size: 24px;
            line-height: 1.22;
            font-weight: 600;
            color: $gray-800;
            text-transform: uppercase;
        }
    }

    h3 {
        font-size: 22px !important;
    }

    h3, h4 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1.22;

        a {
            float: none !important;
            margin-right: 1.5rem;

            &.pull-right, &.pull-left {
                float: none !important;
            }
        }
    }

    a {
        &:hover {
            span {
                i {
                    &:before {
                        color: $gray-800;
                    }
                }
            }
        }

        .pull-right {
            float: none !important;
        }
    }

    span {
        i {
            display: inline-flex;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;

            &:before {
                font-family: $icon-family-alt;
                content: "\e605";
                color: $brand;
            }
        }

    }

}


@media(max-width: 992px) {
    .modal-header .modal-title span#produtoModalNome {
        font-size: 18px;
    }
}

//
// Modal Body Contents
//
.modal-body {

    #produtoModalImagePath {
        width: 100%;
        height: 370px;
        border-radius: 0;
        overflow: visible;
        display: flex !important;
        object-fit: cover;
        margin: 0;
    }

    .product-description {
        font-size: 1.6rem;
        margin: 5px;
        font-weight: 300;
        line-height: 1.22;
        color: #606b7c;
    }
}

@media only screen and (max-width: 569px) {
    .modal-mobile-full #produtoModalImagePath {
        max-height: 220px;
    }

    .modal-mobile-full .modal-body .product-description {
        font-size: 1.5rem;
        text-align: left !important;
    }
}

.modal-content .panel-danger>.panel-heading {
    background-color: #eff2f7;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.modal-content .panel-title {
    font-size: 1.6rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: $gray-800;
}

.modal-footer div.row {
    position: relative;
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.modal-footer div.col-xs-12 {
    padding: 0;
    margin: 0 !important;
}

.modal-footer .label-fechado {
    display: block !important;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 80%;
    font-weight: 400;
    color: $brand;
    background-color: #fff3f3;
}

.modal-footer #btnItemSubmit br {
    display: none;
}

.modal-footer .flex-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.modal-footer .flex-container .flex-item:first-child {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-footer .flex-container .flex-item:nth-of-type(2) {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-footer .flex-container .flex-item:nth-of-type(1) .form-group-qtd {
    border: 1px solid $gray-500;
    border-radius: 4px;
}

.modal-footer .flex-container .flex-item:nth-of-type(1) .form-group-qtd .input-group {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.modal-footer .flex-container .flex-item:nth-of-type(1) .form-group-qtd .input-group-lg .form-control {
    height: 50px;
    border: none;
}

.modal-footer .flex-container .flex-item:nth-of-type(1) .form-group-qtd .input-group-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    width: 100%;
}

.modal-footer .flex-container .flex-item:nth-of-type(1) .form-group-qtd .input-group .btn {
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background: transparent;
}

.modal-footer .flex-container .flex-item:nth-of-type(1) .form-group-qtd .input-group .btn .fa:before {
    color: $brand;
}

.modal-footer .flex-item #btnItemSubmit,
.modal-footer .flex-item .btn:not(.btn-default) {
    display: flex;
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

.modal-footer .flex-item #btnItemSubmit.disabled,
.modal-footer .flex-item #btnItemSubmit.btn[disabled] {
    color: $gray-700;
    background-color: #eff2f7 !important;
    border-color: #eff2f7 !important;
}

#btnItemSubmit span {
    font-size: 80%;
    padding: 0 8px;
}

.modal-footer>:not(:last-child) {
    margin-right: 0 !important;
}

//
// Modal Product Items
//
#itemModal .modal-content {
    color: $gray-800;
}

#itemModal .modal-content .fa-spinner:before {
    content: "\f1ce" !important;
    font-family: $icon-family;
    color: $brand !important;
}

#itemModal .modal-content .checkbox label.pull-right,
#itemModal .modal-content .radio label.pull-right {
    color: inherit;
}

#itemModal .modal-content .checkbox label:not(.pull-right),
#itemModal .modal-content .radio label:not(.pull-right) {
    color: $gray-800;
    font-weight: 600;
    letter-spacing: -1px;
}

#itemModal .modal-content .checkbox label small {
    display: flex;
    max-width: 77%;
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    color: $gray-700;
    letter-spacing: normal;
    line-height: 1.5;
}

#itemModal .modal-content .c-checkbox span {
    display: inline-flex;
    align-self: center;
    margin-right: 10px;
}

@media(max-width: 992px) {
    #itemModal .modal-content .checkbox label small {
        max-width: 85%;
        // Limit item description text to 3 lines
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
    }
}

#itemModal .modal-content .checkbox label small i {
    font-style: normal !important;
    margin-bottom: 10px;
}

#itemModal .modal-content .checkbox:not(.parte) {
    height: auto;
    max-height: 80px;
}

#itemModal .modal-content .checkbox.parte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 130px;
    max-height: 160px;
    margin-top: 10px !important;
    border-bottom: 1px solid #eff2f7;
}

#itemModal .modal-content #etapa1detalhes .panel-body p.small {
    color: $gray-800;
    font-weight: 600;
    margin-top: 1.2rem;
    color: $warning;
    background-color: #fec;
    padding: .25rem .5rem;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

#itemModal .modal-content #etapa1detalhes .panel:nth-of-type(1) .panel-body>div.pb,
#itemModal .modal-content #etapa1detalhes .panel:nth-of-type(2) .panel-body>div.pb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: row-reverse;
    font-size: 1.6rem;
    line-height: 1.22 !important;
    font-weight: 600;
    text-transform: capitalize;
}

#itemModal .modal-content #etapa1detalhes .panel:nth-of-type(1) .panel-body div.pull-right,
#itemModal .modal-content #etapa1detalhes .panel:nth-of-type(2) .panel-body div.pull-right {
    float: none !important;
    padding-left: 15px;
    font-weight: normal !important;
}

@media(max-width: 768px) {

    #itemModal .modal-content #etapa1detalhes .panel:nth-of-type(1) .panel-body div.pull-right,
    #itemModal .modal-content #etapa1detalhes .panel:nth-of-type(2) .panel-body div.pull-right {
        min-width: 40%;
    }
}

//
// Modal - Restaurant Details
//
#detalhesAtendimentoModal .modal-body {
    color: $gray-800;
}

#detalhesAtendimentoModal .modal-body p.bg-danger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto 1.5rem auto;
    padding: .35rem;
    font-size: 80%;
    font-weight: 600;
    color: $brand !important;
    background-color: #fed9db !important;
    border-color: #fed9db !important;
    border-radius: .25rem;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15);
}

#detalhesAtendimentoModal .modal-body h4 {
    color: $gray-800;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

#detalhesAtendimentoModal .modal-body>div:nth-of-type(1) h4 {
    margin-top: 0;
}

#detalhesAtendimentoModal .modal-body>div h4:before {
    font-family: $icon-family-alt;
    font-size: 2rem;
    margin-right: 1.2rem;
    color: $brand;
}

#detalhesAtendimentoModal .modal-body>div:nth-of-type(1) h4.modal-title:before {
    content: "\e081";
}

#detalhesAtendimentoModal .modal-body>div:nth-of-type(2) h4.modal-title:before {
    content: "\e041";
}

#detalhesAtendimentoModal .modal-body>div:nth-of-type(3) h4.modal-title:before {
    content: "\e025";
}

#detalhesAtendimentoModal .modal-body>div:nth-of-type(4) h4.modal-title:before {
    content: "\e02a";
}

#detalhesAtendimentoModal .modal-body table {
    width: 100%;
    margin-bottom: 1rem;
    color: $gray-700;
    background-color: transparent;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

#detalhesAtendimentoModal .modal-body table tr,
#detalhesAtendimentoModal .modal-body table td {
    text-align: left !important;
    color: $gray-800;
}

#detalhesAtendimentoModal .modal-body table td,
#detalhesAtendimentoModal .modal-body table th {
    vertical-align: middle;
}

#detalhesAtendimentoModal .modal-body>.mb:last-child {
    margin-top: 3rem;
}

//
// Modal Loading
//
.modal-content .spinner-container .fa-spinner:before {
    content: "\f1ce";
    font-family: $icon-family;
    color: $brand;
}

.modal-content .spinner-parent {
    opacity: 1;
    background-color: #fff;
    min-height: 160px;
    border-radius: .35rem;
}

.modal-content .spinner-container:after {
    content: "carregando...";
    display: flex;
    position: relative;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    font-weight: 400;
    color: $gray-700;
    margin-bottom: 1.5rem;
}

// Modal Close
.modal-body .close {
    float: right;
    font-size: 36px;
    font-weight: 400;
    color: $gray-800;
    text-shadow: none;
    opacity: 1;
    filter: none;
}

.modal-content .panel-danger>.panel-heading {
    padding: 20px 15px;
}

//
// Modal #cepModal
//

#cepModal {

    .modal-body {

        div.btn-group:nth-of-type(1) {
            margin-bottom: 3rem;
        }

        h4 {
            font-size: 22px !important;
        }

        .form-control {
          &.text-center {
            text-align: left !important;
          }
        }

        a {
            &.item-endereco {
                display: flex;
                justify-content: flex-start;
                align-items: self-end;
                padding-left: 15px;
                padding-right: 15px;
                color: $gray-1000;
                margin-bottom: 15px;

               .pull-left {
                    float: none !important;
                    margin: 0 8px 0 0;
                }

                small {
                    &.text-muted {
                        color: $gray-700 !important;
                    }
                }

                .p {
                    padding: 1rem 0 1rem 0 !important;

                    .fa-search:before {
                        font-family: $icon-family-alt;
                        content: "\e090";
                    }

                    .fa-map-marker:before {
                        font-family: $icon-family-alt;
                        content: "\e096";
                        font-size: 2.8rem !important;
                    }
                }

                &:nth-of-type(2) {
                    .p {
                        font-size: 1.8rem;
                        color: $gray-700;
                    }
                }
            }
        }

        .row {
            p:nth-of-type(1) {
                &.text-center {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    color: #ffffff;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    a {
                        font-size: 80%;
                        font-weight: 600;

                        &:first-child {
                            margin-right: 1rem;
                        }
                        &:last-child {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }


    }

    .btn-default {
        &.active {
            &.cboTipoEntrega {
                background-color: $brand !important;
                color: #ffff;
            }
        }

        &.btnTipoEntrega {
            &.active {
                background-color: $brand !important;
                color: #ffff;
            }
        }
    }

    .modal-footer {
        .btn {
            .fa-arrow-left {
                &:before {
                    font-family: $icon-family-alt;
                    content: "\e605";
                }
            }

            &.btn-square {
                display: flex;
                height: 50px;
                justify-content: center;
                align-items: center;
                text-transform: lowercase;
                font-size: 100%;

                i {
                    margin-right: 1rem;
                }

                br {
                    display: none;
                    visibility: hidden;
                    text-indent: -1000px;
                }
            }
        }
    }

}
