
.estado .bb {
  border-bottom: none !important;
  margin-bottom: 2rem;
}

.cidade-nome {
  color: #8492a6;
}

h1, h2, h3, h4, h5, h6, .cidade-nome {
  font-weight: 600;
  font-family: 'soleil', sans-serif;
}