// 
// Sidebar
// 

.wrapper>.aside {
    width: 280px;
    z-index: 1001;
}

.wrapper>.aside .aside-inner {
    width: 280px;
    background-color: #ffffff; //#f2f2f2;
}

.sidebar {
    background-color: #ffffff;
}

.sidebar:after {
    background: none;
    content: "";
    display: none;
}

.sidebar .nav>li:last-child {
    padding-left: 0;
}

.sidebar .nav>li>a,
.sidebar .nav>li>.nav-item {
    color: #23262e;
}

.sidebar .nav>li.active,
.sidebar .nav>li.open,
.sidebar .nav>li.active>a,
.sidebar .nav>li.open>a,
.sidebar .nav>li.active .nav,
.sidebar .nav>li.open .nav {
    background-color: #f2f2f2; //#e9e9e9;
    color: $brand;
}

.sidebar .nav>li.active>a>em,
.sidebar .nav>li.open>a>em {
    color: $brand;
}

.csstransforms3d .wrapper>.aside {
    -ms-transform: translate3d(-280px, 0, 0);
    -o-transform: translate3d(-280px, 0, 0);
    -moz-transform: translate3d(-280px, 0, 0);
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
}

@media(max-width: 767px) {
    body.aside-toggled .wrapper:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 300ms;
        z-index: 1000;
    }
}

.layout-fixed.aside-toggled .wrapper>.aside {
    position: fixed;
    box-shadow: 14px 0 32px rgba(3, 5, 7, 0.1);
}
